{% extends "videochat/base.html" %}
{% load staticfiles %}
{% block content %}
  <!-- Video area -->
  <div id="chatvideo" class="row">
    <div class="col-md-6">
      <video id="their-video" autoplay></video>
    </div>
    <div class="col-md-4">
      <video id="my-video" muted="true" autoplay></video>
    </div>
  </div>

  <!-- Steps -->
  <div id="chatinfo" class="row">
    <div class="col-md-6">
      <p>Your id: <span id="my-id">...</span></p>
      <p>Share this id with others so they can join you.</p>
    </div>
  </div>
  <div id="chatcontrol" class="row">
    <!-- Call in progress -->
    <div class="col-md-4">
      <p>Currently in call with <span id="their-id">...</span></p>
      <p><a class="btn btn-xs btn-danger" role="button" href="#" id="end-call">End call</a></p>
    </div>
  </div>

{% endblock content %}
{% block footer %}
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
	<script type="text/javascript" src="http://cdn.peerjs.com/0.3/peer.js"></script>
	<script>
	var csrftoken = '{{ csrf_token }}';
	</script>
	<script src="{% static "js/chat_init.js" %}"></script>
{% endblock footer %}