{% extends "videochat/base.html" %}
{% block content %}
	<h2>Video connection</h2>
	<p>
		<form id="chat_form" method="post" action="">

            {% csrf_token %}
            {{ chat_form.chatname }}
			<div class="row">
				<div class="col-md-4">
					{% if user.is_authenticated %}
						<h3>Your contacts:</h3>
						<select class="form-control">
							<option value="none">Select a contact</option>
							{% for con in contacts %}
								<option value"{{con.id}}"> {{con.first_name}}: {{con.email}} </option>
							{% endfor %}
						</select>
					{% endif %}
					<!-- Provide a button to click to submit the form. -->
            		<input type="submit" name="submit" value="Create Chat" />
				</div>
			</div>

        </form>
	</p>
	
{% endblock content %}